<div class="row">

  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Create a New Security</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="securityName">Security Name</label>
              <input type="text" class="form-control" name="securityName"  [(ngModel)]="security.securityName" placeholder="Security Name" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="assetClass">Asset Class</label>
              <select class="form-control" id="assetClass" [(ngModel)]="security.asset">
                <option *ngFor="let assetClass of assetClasses" [value]="assetClass.assetClassId">{{assetClass.assetClass}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="issuer">Issuer</label>
              <select class="form-control" id="issuer" [(ngModel)]="security.issuer">
                <option *ngFor="let issuer of issuers" [value]="issuer.id">{{issuer.issuerName}}</option>
              </select>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="createSecurity()">Submit</button>
      </nb-card-body>
    </nb-card>
  </div>
</div>
