<div class="row">

  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Create a New Security</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="securityName">Security Name</label>
              <input type="text" class="form-control" id="securityName" placeholder="First Name">
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="assetClass">Asset Class</label>
              <select class="form-control" id="assetClass">
                <option>First</option>
                <option>First</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="issuer">Issuer</label>
              <select class="form-control" id="issuer">
                <option>First</option>
                <option>First</option>
              </select>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </nb-card-body>
    </nb-card>
  </div>
</div>
