<div class="row">
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Total Orders" count="{{orders.length}}" type="primary">
      <i class="fa fa-book"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Total Securities" count="{{securities.length}}" type="success">
      <i class="fa fa-money"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Total Issuers" count="{{issuers.length}}" type="info">
      <i class="fa fa-users"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Total Accounts" count="{{accounts.length}}" type="warning">
      <i class="fa fa-credit-card"></i>
    </ngx-status-card>
  </div>
</div>

<!-- <div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    <ngx-traffic></ngx-traffic>
  </div>
</div> -->
